body {
    margin: 20px;
}

.corpo{
    margin: 50px auto;
    width: 70%;
}

.ficha1 {
    position:relative;
    float: left;
    margin: 10px auto;
    
}
.ficha2 {
    position: relative;
    float: left;
    margin: 10px auto;
}
.ficha3 {
    position: relative;
    float: left;
    margin: 10px auto;
}

.botoes{
    clear:both;/*posicionando o rodape abaixo das outras divs*/
}

.desativado{
    background-color: transparent;
    border-color: activeborder;
}